/* Put shiny notifications front and center */
.shiny-notification {
             position:fixed;
             top: calc(50%);
             left: calc(50%);
             width: 180px;
             clear: both;
             display: inline-block;
             overflow: hidden;
             white-space: nowrap;
             padding: 10px;
             }

.shiny-output-error-red {
        color: red;
      }